mozcommitbuilder.egg-info/*
dist/*
*.pyc
*.swp
.DS_Store
build/*
.coverage
htmlcov/
mozregression.egg-info/
.eggs/

gui/build/
gui/dist/
gui/venv/
gui/mozregression-gui.spec
gui/mozregui/ui/*.py
!gui/mozregui/ui/__init__.py
gui/.coverage
gui/htmlcov/
gui/resources_rc.py
