dist: trusty  # xenial seems to have some weird ssl error with python2
matrix:
  include:
    - name: python2-linux
      env: PYTHON=python2
      os: linux
      language: python
      python: '2.7'
      virtualenv:
        system_site_packages: true
      script:
        - pip install -r requirements-gui-dev.txt
        - coverage run setup.py test && mv .coverage .coverage.core
        - coverage run gui/build.py test && mv .coverage .coverage.gui
        - coverage combine
        - pip install coveralls; coveralls
        - python gui/build.py bundle
    - name: python3-linux
      env: PYTHON=python3.5
      os: linux
      language: python
      python: '3.5'
      script:
        - coverage run setup.py test && mv .coverage .coverage.core
        - coverage combine
        - pip install coveralls; coveralls
    - name: macosx-pyinstaller
      os: osx
      osx_image: xcode6.4
      language: shell
      before_install:
        - python --version
        - curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
        # pip 19+ seems to have a weird issue installing PyInstaller
        - sudo python get-pip.py 'pip==18.1'
      script:
        #- pip install coveralls; coveralls
        #- coverage run setup.py test && mv .coverage .coverage.core
        #- coverage combine
        - echo $PATH
        - pip install --user -r requirements-dev.txt
        - pip install --user altgraph
        - pip install --user PyInstaller==3.6
        - pyinstaller --onefile $USER_PYTHON_PATH/mozregression
    - name: python2-linters
      env: PYTHON=python2
      os: linux
      language: python
      python: '2.7'
      script:
        - flake8 mozregression tests setup.py
        - flake8 gui/mozregui gui/build.py gui/tests
    - name: python3-linters
      env: PYTHON=python3.5
      os: linux
      language: python
      python: '3.5'
      script:
        - python3 -m compileall -q tests mozregression
        - flake8 mozregression tests setup.py

install:
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
          export DISPLAY=:99.0;
          sh -e /etc/init.d/xvfb start;
          sudo apt-get update -qq;
          sudo apt-get install python-qt4 pyqt4-dev-tools;
          pip install -r requirements-dev.txt;
      fi
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
          export USER_PYTHON_PATH=/Users/travis/Library/Python/2.7/bin;
          export PATH="$USER_PYTHON_PATH:$PATH";
      fi
deploy:
  - provider: releases
    api-key:
       secure: VxxmZhovtqrV7I/DXvePslX+Egpj9+iwJnY/sdIfJ8ZpUttHmqbxfZ+0iCS8DUtLs0TBY2nz7Q20XxZfaPuQUnmgQk4w2RLkiPal/pwU04Q3M60NCAk8Cj7564b7slOqXAMgiE5QO+QA3w+wH2kXL21Sx1Q9Oj/2ROvl5Qh8tGg=
    file: gui/dist/mozregression-gui.dmg
    skip_cleanup: true
    on:
      tags: true
      condition:
        - $TRAVIS_OS_NAME == osx

  # Broken: see https://bugzilla.mozilla.org/show_bug.cgi?id=1466110
  - provider: releases
    api-key:
       secure: VxxmZhovtqrV7I/DXvePslX+Egpj9+iwJnY/sdIfJ8ZpUttHmqbxfZ+0iCS8DUtLs0TBY2nz7Q20XxZfaPuQUnmgQk4w2RLkiPal/pwU04Q3M60NCAk8Cj7564b7slOqXAMgiE5QO+QA3w+wH2kXL21Sx1Q9Oj/2ROvl5Qh8tGg=
    file: gui/mozregression-gui.tar.gz
    skip_cleanup: true
    on:
      tags: true
      condition:
        - $TRAVIS_OS_NAME == linux
        - $NEVER_TRUE == 1
