matrix:
  include:
    - name: python2-linux
      env: PYTHON=python2
      os: linux
      language: python
      python: '2.7'
      virtualenv:
        system_site_packages: true
      script:
        - pip install -r requirements-gui-dev.txt
        - coverage run setup.py test && mv .coverage .coverage.core
        - coverage run gui/build.py test && mv .coverage .coverage.gui
        - coverage combine
        - pip install coveralls; coveralls
        - python gui/build.py bundle
    - name: python3-linux
      env: PYTHON=python3.5
      os: linux
      language: python
      python: '3.5'
      script:
        - coverage run setup.py test && mv .coverage .coverage.core
        - coverage combine
        - pip install coveralls; coveralls
    - name: python2-linters
      env: PYTHON=python2
      os: linux
      language: python
      python: '2.7'
      script:
        - flake8 mozregression tests setup.py
        - flake8 gui/mozregui gui/build.py gui/tests
    - name: python3-linters
      env: PYTHON=python3.5
      os: linux
      language: python
      python: '3.5'
      script:
        - python3 -m compileall -q tests mozregression
        - flake8 mozregression tests setup.py

install:
    - if [ "$TRAVIS_OS_NAME" == "linux" ]; then
          export DISPLAY=:99.0;
          sh -e /etc/init.d/xvfb start;
          sudo apt-get update -qq;
          sudo apt-get install python-qt4 pyqt4-dev-tools;
      fi
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
          brew update; brew outdated xctool || brew upgrade xctool;
          pip install virtualenv;
          brew install pyqt;
          brew linkapps qt;
          MOZPATH="$PWD";
          mkdir -p /Users/travis/Library/Python/2.7/lib/python/site-packages;
          echo 'import site; site.addsitedir("/usr/local/lib/python2.7/site-packages")' >> /Users/travis/Library/Python/2.7/lib/python/site-packages/homebrew.pth;
          export PYTHONPATH=/usr/local/lib/python2.7/site-packages:$PYTHONPATH;
          cd /usr/local/opt/pyqt/lib/python2.7/site-packages/PyQt4;
          sudo install_name_tool -id $PWD/QtCore.so QtCore.so;
          sudo install_name_tool -id $PWD/QtGui.so QtGui.so;
          cd $MOZPATH;
      fi
    - pip install -r requirements-dev.txt

deploy:
  - provider: releases
    api-key:
       secure: VxxmZhovtqrV7I/DXvePslX+Egpj9+iwJnY/sdIfJ8ZpUttHmqbxfZ+0iCS8DUtLs0TBY2nz7Q20XxZfaPuQUnmgQk4w2RLkiPal/pwU04Q3M60NCAk8Cj7564b7slOqXAMgiE5QO+QA3w+wH2kXL21Sx1Q9Oj/2ROvl5Qh8tGg=
    file: gui/dist/mozregression-gui.dmg
    skip_cleanup: true
    on:
      tags: true
      condition:
        - $TRAVIS_OS_NAME == osx

  - provider: releases
    api-key:
       secure: VxxmZhovtqrV7I/DXvePslX+Egpj9+iwJnY/sdIfJ8ZpUttHmqbxfZ+0iCS8DUtLs0TBY2nz7Q20XxZfaPuQUnmgQk4w2RLkiPal/pwU04Q3M60NCAk8Cj7564b7slOqXAMgiE5QO+QA3w+wH2kXL21Sx1Q9Oj/2ROvl5Qh8tGg=
    file: gui/mozregression-gui.tar.gz
    skip_cleanup: true
    on:
      tags: true
      condition:
        - $TRAVIS_OS_NAME == linux
