language: python

python:
    - "2.7"
virtualenv:
    # required because we install the python-qt4 ubuntu package
    system_site_packages: true

install:
    # gui tests requirements
    # start xvfb to emulate a graphical session
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    # install PyQt4
    - sudo apt-get install python-qt4 pyqt4-dev-tools
    # install mozregression code and test dependencies
    - pip install coverage coveralls
    - cd gui && pip install -r test-requirements.txt && cd ..

script:
    - ./check.py --with-coverage --with-gui

after_success:
    coveralls

before_deploy:
    - pip install cx_Freeze
    - python gui/build.py bundle

deploy:
    provider: releases
    api_key:
        secure: GKlGCKzsjPyUVmtYZhOU0ggQH5RN5UgC+aEckfdguPLSnSeKxe3FLOV25zoe0+CLiYOHbsxvbTxB1fNh2KVxcrV7zroKzijhzFMAgfBP/yuCBeNWYR0tf/5qLk/xd26JQ+2Om6eyPnT+jc3JjmU7g8nYfEBrNDmtQ5Kmm0N4Crk=
    file: gui/mozregression-gui.tar.gz
    skip_cleanup: true
    on:
        tags: true
