image: Visual Studio 2019
build: false
environment:
  NSIS_ROOT: C:\nsis
  matrix:
    - PYTHON: "C:\\Python38"
init:
  - "ECHO %PYTHON%"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
install:
  # install mozregression code and test dependencies
  - "pip install virtualenv"
  - "virtualenv ."
  - "Scripts\\activate.bat"
  - "pip install -r requirements\\build.txt"
  - "pip install -e ."
test_script:
  # bundle the application
  - "python gui\\build.py bundle --nsis-path \"C:\\Program Files (x86)\\NSIS\""
  - "pytest tests"
  - "python gui\\build.py test"

# section required for deploy
artifacts:
  - path: gui\wininst\mozregression-gui.exe

deploy:
  - provider: GitHub
    auth_token:
      secure: Zl7fsn0LErFrvaqG45Fa+zxIDBwjXtHc9aS8074ew3dsXOc/F+I5POFGfToxd4d6
    artifact: gui\wininst\mozregression-gui.exe
    on:
      appveyor_repo_tag: true
