build: false
environment:
  NSIS_ROOT: C:\nsis
  matrix:
    - PYTHON: "C:\\Python27"
      PyQt: "http://sourceforge.net/projects/pyqt/files/PyQt4/PyQt-4.11.4/PyQt4-4.11.4-gpl-Py2.7-Qt4.8.7-x32.exe"
init:
  - "ECHO %PYTHON%"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
install:
  # install PyQt4
  ## miniconda (installed by appveyor) prevent pyqt installer to run, because
  ## of a registry key. So the line below overwrite the registry key.
  - REG ADD HKCU\Software\Python\PythonCore\2.7\InstallPath /f /ve /t REG_SZ /d %PYTHON%
  - ps: (new-object net.webclient).DownloadFile($env:PyQT, "C:\install-PyQt4.exe")
  - ps: Start-Process -FilePath C:\install-PyQt4.exe -ArgumentList "/S" -Wait -Passthru
  - "python -c \"from PyQt4 import QtGui\""
  # install mozregression code and test dependencies
  - "cd gui & pip install -r test-requirements.txt"
  - "cd .."
test_script:
  - "python check.py --with-gui"
  # bundle the application
  - cinst nsis -y -installArgs /D=%NSIS_ROOT%
  - "pip install cx_Freeze"
  - "python gui\\build.py bundle"

# section required for deploy
artifacts:
  - path: gui\wininst\mozregression-gui.exe

deploy:
  - provider: GitHub
    auth_token:
      secure: 9JS0n1MfG2KVQ86suWQ7Zq51932EBanPp05GXoLfN+94AhMOQSerjUwGIxoBXKmp
    artifact: gui\wininst\mozregression-gui.exe
    on:
      appveyor_repo_tag: true
