build: false
environment:
  matrix:
    - PYTHON: "C:/Python27"
init:
  - "ECHO %PYTHON%"
install:
  - ps: (new-object net.webclient).DownloadFile('https://raw.github.com/pypa/pip/master/contrib/get-pip.py', 'C:/get-pip.py')
  - "%PYTHON%/python.exe C:/get-pip.py"
  # this is required, else "python.exe setup.py test" step will fail
  # with a strange error, like:
  # File "c:\users\appveyor\appdata\local\temp\easy_install-fz8d4j\requests-2.5.2\requests\packages\__init__.py", line 49, in load_module
  # AttributeError: 'NoneType' object has no attribute 'modules'
  - "%PYTHON%/Scripts/pip.exe install -e ."
  - "cd gui & %PYTHON%/Scripts/pip.exe install -r test-requirements.txt"
  - "cd .."
test_script:
  - "%PYTHON%/python.exe setup.py test"
  - "cd gui & %PYTHON%/python.exe build.py test"
