exclude .coveragerc .gitignore .linter-files .travis.yml CODE_OF_CONDUCT.md
recursive-exclude bin *
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude gui *
recursive-exclude requirements *
