-r requirements-dev.txt

# Qt bindings for python
PySide2==5.14.1

# for testing
pytest-qt == 3.3.0

# for bundling standalone executable
#cx_Freeze == git+https://github.com/anthony-tuininga/cx_Freeze
