# pinned version of mozregression dependencies
beautifulsoup4==4.7.1
colorama==0.4.1
configobj==5.0.6
mozdevice==3.0.1
mozfile==2.0.0
mozinfo==1.1.0
mozinstall==2.0.0
mozlog==4.0
mozprocess==1.0.0
mozprofile==2.2.0
mozrunner==7.3.0
mozversion==2.1.0
redo==2.0.2
requests[security]==2.21.0
taskcluster==6.0.0

# for some reason we need to specify a specific version of six
six==1.12.0

# dev dependencies
coverage==4.2
mock==2.0.0
pytest==3.0.2
# peg flake8 + deps so code doesn't suddenly violate validation expectations unexpectedly
flake8==3.2.1
mccabe==0.5.3
pyflakes==1.3.0

# install mozregression
-e .
