coverage==4.2
mock==2.0.0
pytest==3.0.2
# peg flake8 + deps so code doesn't suddenly violate validation expectations unexpectedly
flake8==3.2.1
mccabe==0.5.3
pyflakes==1.3.0

# install mozregression
-e .
