/**
 * Site header
 */
.site-header {
    min-height: 200px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-title a {
    &,
    &:visited {
        color: $grey-color-light;
    }
}

.site-sub-title {
    font-size: 18px;
    color: #999;
    font-weight: bold;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        padding: 4px 10px;
    }

    .page-link:hover {
        &:not(.current) {
            background-color: $background-color;
            color: $orange-color;
            border-radius: 5px;
        }
    }

    .current {
        background-color: $yellow-color;
        color: $background-color;
        border-radius: 5px;
        border-top: 1px solid white;
        border-left: 1px solid white;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

