<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {% if page.url != '/documentation/' %}
        <a id="doc-backward" class="page-link" href="{{ '/documentation/' | prepend: site.baseurl }}" title="Go back to the documentation index">
            <img src="{{ site.baseurl }}/images/Gnome-edit-undo.svg" alt="Documentation index" style="width:32px;height:32px">
        </a>
        {% endif %}
        {{ content }}
      </div>
    </div>

  </body>

</html>
