name: Generate requirement files

on:
  push:
    branches: [requirements]

  pull_request:
    branches: [requirements]

jobs:
  call-compile-requirements-linux:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["ubuntu-latest"]'
      python: '["3.7", "3.8", "3.9", "3.10", "3.11"]'

  call-compile-requirements-windows:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["windows-latest"]'
      python: '["3.9", "3.10", "3.11"]'

  call-compile-requirements-macos:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["macos-latest"]'
      python: '["3.9", "3.10", "3.11"]'
