name: Generate requirement files

on:
  push:
    branches: [requirements]

  pull_request:
    branches: [requirements]

jobs:
  call-compile-requirements-linux:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["ubuntu-latest"]'
      python: '["3.9", "3.10", "3.11", "3.12", "3.13"]'

  call-compile-requirements-windows:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["windows-latest"]'
      python: '["3.9", "3.10", "3.11", "3.12", "3.13"]'

  call-compile-requirements-macos:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      requirements_files: '["base.in base.universal2.in dev.in gui-dev.in gui.in linters.in"]'
      os: '["macos-latest"]'
      python: '["3.9", "3.10", "3.11", "3.12", "3.13"]'

  commit-and-push:
    uses: ./.github/workflows/compile-requirements.yml
    with:
      commit_and_push: 'true'
    needs:
      - call-compile-requirements-macos
      - call-compile-requirements-windows
      - call-compile-requirements-linux
